@import "uikit-variables";
@import "uikit-mixins";

// your custom code goes here, e.g. mixins, variables

@import "uikit";
@import "components/sticky.scss";
@import "components/slideshow.scss";
@import "components/slidenav.scss";

// Main info styling
main {
    margin-top: 32px;
    margin-bottom: 32px;
}

.main-info {
    font-size: 20px;
    line-height: 28px;
}

.main-link {
    font-size: 22px;
}

// About page thumbnail styling
.thumbnails {
    margin: auto 16px auto 16px;
    padding-right: 35px;
}

// Contact Form styling
.uk-form {
    margin-top: 32px;
}

// Footer styling
footer {
    text-align: center;
    margin-top: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lighten(#2EBAAB, 45%);
    border-top: 1px solid darken(#d8f5f2, 15%);
    
    p {
        margin-bottom: 0;
    }
    
    i {
        margin: auto 10px;
    }
}